<div class="data">
<h1>Dog page member</h1>
 <img src="<%= @dogs.image_url%>" alt="dog photo" width="600" height ="500">
  <table class="data">
    <thead>
      <tr>

        <th>Name</th>
        <th>Temperament</th>
        <th>life span</th>
        <th>Breed group</th>
        <th>Bred for</th>

      </tr>
    </thead>

    <tbody>

        <tr>
          <td ><%= @dogs.name %></td>
          <td ><%= @dogs.temperament %></td>
          <td ><%= @dogs.life_span %></td>
          <td> <%= @breeds.breed_group%></td>
          <td> <%= @breeds.bred_for%></td>
        </tr>
    </tbody>
  </table>
</div>